@using System.Globalization
@using System.Security.Policy
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using BitNetServices.Alpa.EHS.Common.Models
@using BitNetServices.Alpa.EHS.Web
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@inject IViewLocalizer Localizer

@model BitNetServices.Alpa.EHS.Web.Tenant.Models.UserViewModel

@if (this.Layout != null)
{
    ViewBag.IsModal = false;
    this.Layout = "_MasterLayout";
}
<div class="clearfix"></div>
@using (Html.BeginForm("User", "Master", FormMethod.Post))
{

    <p class="text-danger">
        @ViewBag.ErrorMessage
    </p>

    if (ViewBag.IsModal == null || ViewBag.IsModal == true)
    {
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">User</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            @Html.HiddenFor(m => m.UserId)
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", requried = "required", @type = "Email" })
                        </div>
                        @if (@Context.Request.Path.Value.Contains("/alpagroup/"))
                        {
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.TenantId)
                                @Html.DropDownListFor(model => model.TenantId, Model.TenantList, "--Select--", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.TenantId, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.TenantId)
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 ">
                            @Html.LabelFor(m => m.LoginName)
                            @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control", requried = "required" })
                            @Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 col-sm-6 ">
                            @Html.LabelFor(m => m.Password)
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", requried = "required", @type = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @if (@Context.Request.Path.Value.Contains("/alpagroup/"))
                        {
                            <div class="col-md-6 col-sm-6">
                                @Html.LabelFor(m => m.IsAdmin)
                                @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "js-switch" })
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.IsAdmin)
                        }
                        @if (!@Context.Request.Path.Value.Contains("/alpagroup/"))
                        {
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.SecurityRoleId)
                                @Html.DropDownListFor(model => model.SecurityRoleId, Model.SecurityRoleList, "--Select--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SecurityRoleId, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" name="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="col-md-6 col-sm-6 ">
                                            @Html.HiddenFor(m => m.UserId)
                                            @Html.LabelFor(m => m.FirstName)
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", requried = "required" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6 col-sm-6 ">
                                            @Html.LabelFor(m => m.LastName)
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", requried = "required" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="x_content">
                                        <div class="col-md-6 col-sm-6 ">
                                            @Html.LabelFor(m => m.Email)
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", requried = "required", @type = "Email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        @if (@Context.Request.Path.Value.Contains("/alpagroup/"))
                                        {
                                            <div class="col-md-6">
                                                @Html.LabelFor(m => m.TenantId)
                                                @Html.DropDownListFor(model => model.TenantId, Model.TenantList, "--Select--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TenantId, "", new { @class = "text-danger" })
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(m => m.TenantId)
                                        }
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 ">

                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(m => m.DepartmentId)
                                            @Html.DropDownListFor(model => model.DepartmentId, new List<SelectListItem>(), "--Select--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="x_content">
                                        <div class="col-md-6 col-sm-6 ">
                                            @Html.LabelFor(m => m.LoginName)
                                            @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control", requried = "required" })
                                            @Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6 col-sm-6 ">
                                            @Html.LabelFor(m => m.Password)
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", requried = "required", @type = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="x_content">
                                        @if (@Context.Request.Path.Value.Contains("/alpagroup/"))
                                        {
                                            <div class="col-md-6 col-sm-6">
                                                @Html.LabelFor(m => m.IsAdmin)
                                                @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "js-switch" })
                                            </div>
                                        }
                                        else
                                        {
                                            @Html.HiddenFor(m => m.IsAdmin)
                                        }
                                        @if (!@Context.Request.Path.Value.Contains("/alpagroup/"))
                                        {
                                            <div class="col-md-6">
                                                @Html.LabelFor(m => m.SecurityRoleId)
                                                @Html.DropDownListFor(model => model.SecurityRoleId, Model.SecurityRoleList, "--Select--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SecurityRoleId, "", new { @class = "text-danger" })
                                            </div>
                                        }                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-10 right">
                            <button type="button" name="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}


